*,
*::after,
*::before{
    box-sizing: border-box;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SF-Pro-Display-Regular.woff2') format('woff2'),
         url('../fonts/SF-Pro-Display-Regular.woff') format('woff');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SF-Pro-Display-Bold.woff2') format('woff2'),
         url('../fonts/SF-Pro-Display-Bold.woff') format('woff');
    font-style: normal;
    font-weight: bold;
    font-display: swap;
}

@font-face {
    font-family: 'Space Age Cyrillic';
    src: url('../fonts/spaceagecyrillic-regular.woff2') format('woff2'),
         url('../fonts/spaceagecyrillic-regular.woff') format('woff');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

a{
    text-decoration: none;
    color: inherit;
}

button{
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: inherit;
}

button:hover{
    color: #CB0E0E;
    border: 1px solid #CB0E0E;
}

body{
    font-family: 'SF Pro Display', sans-serif;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    color: white;
}

.container{
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
}

.header{
    background-image: url(../images/header/header-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header__inner{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.header__top{
    display: flex;
    justify-content: space-between;
    padding: 75px 0 30px;
}

.menu__list{
    display: flex;
}

.menu__item{
    margin-right: 30px;
}

.menu__link{
    text-transform: uppercase;
    font-size: 18px;
    line-height: 29px;
    transition: all .5s;
}

.menu__link:hover{
    color: #CB0E0E;
}

.phone{
    font-size: 24px;
    line-height: 29px;
    transition: all .5s;
    margin-left: auto;
    margin-right: 22px;
}

.phone:hover{
    color: #CB0E0E;
}

.login{
    transition: all .5s;
}

.login:hover{
    transform: rotate(360deg);
}

.header__content{
    max-width: 600px;
}

.header__title{
    font-family: 'Space Age Cyrillic', sans-serif;
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    transition: all .5s;
}

.header__title span{
    font-size: 110px;
    margin-bottom: 20px;
}

.header__title:hover{
    margin-bottom: 10px;
    color: #CB0E0E;
}

.header__text{
    font-size: 24px;
    line-height: 29px;  
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 49px;
}

.header__button{
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    padding: 15px 136px;
    border: 1px solid #fff;
    white-space: nowrap;
    transition: all .5s;
}

.header__description{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: auto;
}

.header__description-text{
    font-size: 14px;
    line-height: 17px;
    max-width: 165px;
}

.header__description-text + .header__description-text{
    margin-left: 52px;
}

.about{
    background-image: url(../images/about/about-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title{
    font-family: 'Space Age Cyrillic', sans-serif;
    font-size: 48px;
    line-height: 48px;
    font-weight: 400;
    padding: 100px 0;
}

.about__item{
    display: flex;
    justify-content:space-between;
}

.about__info{
    max-width: 600px;
}

.about__info-title{
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    margin-bottom: 5px;
}

.about__info-subt{
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #036CCA;
    margin-bottom: 31px;
}

.about__info-texts{
    display: flex;
    justify-content: space-between;
}

.about__info-text{
    max-width: 165px;
    margin-bottom: 50px;
}

.about__info-text + .about__info-text{
    margin-left: 53px;
}

.about__info-bar{
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}